@import url("reset.css");

.container {
	max-width: 1920px;
	margin: 0 auto;
    
}

.somi .container{
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #9ED500; 
}

.somi-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.somi-image img{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
}